<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales_pdf>
            <invoice>
                <row1></row1>
                <row2></row2>
                <row3></row3>
            </invoice>
        </sales_pdf>
    </default>
</config>
